.question-summary {
	width: 100%;
	padding: 10px 0;
  	border-bottom: 1px solid #A0A0A0;
}
.question-summary .q-votes {
	padding: 5px;
}
.question-summary .q-answers {
	padding: 5px;
}

.question-summary .q-views {
	padding: 5px;
}
.mini-counts {
	height: 25px;
	font-size: 160%;
	font-weight: normal;
}
.question-stats {
	text-align: center;
	width: 30%;
}
.question-text {
	text-align: left;
	width: 70%;
}
